<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canans Projects</title>
    <!-- <link rel="stylesheet" href="/static/css/stle.css"> -->
    <link rel="stylesheet" href="../static/css/stle.css">


    <link rel="shortcut icon" href="./images/aboutme3.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">
        <div class="logo">
            <div class="logos">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/project">Project</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
    </nav>
    <section class="bg-project ">
        <div class="containers">
            <div class="tab-nav">
                <ul class="tab_naviagtion">
                    <!-- <li class="tab_one"><a href="#tab_1">All</a></li> -->
                    <!-- <li class="tab_one"><a href="#tab_1">All</a></li> -->
                    <li class="tab_all"><a>All</a></li>
                    <!-- <li class="tab_thr"><a>Full Stack</a></li> -->
                    <!-- <li class="tab"><a>All</a></li> -->
                    <li class="tab_one"><a>Landing Page</a></li>
                    <!-- <li class="tab_one"><a>Landing Page</a></li> -->
                    <li class="tab_two"><a>Webistes</a></li>
                    <!-- <li class="tab_thr"><a>Full Stack</a></li> -->
                    <li class="tab_thr"><a>Full Stack</a></li>
                    <li class="tab_for"><a>Ecommer App</a></li>
                </ul>
            </div>
            <!-- <div class="project-content"> -->
            <!-- <h1>Our Projects</h1> -->
            <div class="project-content my-5" id="tab_landing_page">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/lang-page/lang-1 (1).avif" alt="">
                        <div class="text-project">
                            <h1>Desgin Simple Static Page</h1>
                            <p>A simple static page is a foundational web document designed with fixed content,
                                consisting of HTML for structure, CSS for styling, and optionally JavaScript for minor,
                                non-server-side effects. It displays the exact same information to every visitor,
                                offering fast loading speeds, high security, and low-cost hosting.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/lang-page/lang-1 (1).jpg" alt="">
                        <div class="text-project">
                            <h1>Desgin Simple Landing Page</h1>
                            <p>A simple static page is a fixed-content webpage built with HTML and CSS that looks the
                                same for every visitor until the source code is manually updated. The content, such as
                                text and images, is delivered to the user's browser exactly as it is stored on the
                                server.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/lang-page/lang-1 (2).avif" alt="">
                        <div class="text-project">
                            <h1>Desgin Landing Page</h1>
                            <p>A simple static page is a fixed-content webpage built with HTML and CSS that looks the
                                same for every visitor until the source code is manually updated. The content, such as
                                text and images, is delivered to the user's browser exactly as it is stored on the
                                server.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/lang-page/lang-1 (2).jpg" alt="">
                        <div class="text-project">
                            <h1>Desgin Landing Page</h1>
                            <p>A simple static page is a fixed-content webpage built with HTML and CSS that looks the
                                same for every visitor until the source code is manually updated. The content, such as
                                text and images, is delivered to the user's browser exactly as it is stored on the
                                server.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/lang-page/lang-1 (3).avif" alt="">
                        <div class="text-project">
                            <h1>Desgin Landing Page</h1>
                            <p>A simple static page is a fixed-content webpage built with HTML and CSS that looks the
                                same for every visitor until the source code is manually updated. The content, such as
                                text and images, is delivered to the user's browser exactly as it is stored on the
                                server.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/lang-page/lang-1 (3).jpg" alt="">
                        <div class="text-project">
                            <h1>Desgin Landing Page</h1>
                            <p>A simple static page is a fixed-content webpage built with HTML and CSS that looks the
                                same for every visitor until the source code is manually updated. The content, such as
                                text and images, is delivered to the user's browser exactly as it is stored on the
                                server.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-content my-5" id="tab_websites">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\website\web (1).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Website Multi Pages</h1>
                            <p>A multi-page website is a standard site structure consisting of multiple, distinct HTML
                                pages under one domain—such as Home, About, Services, and Contact—linked together via a
                                navigation menu. It offers superior SEO opportunities, scalability for growing content,
                                and detailed, organized user experiences compared to single-page sites.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\website\web (2).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Website Multi Pages</h1>
                            <p>A multi-page website is a standard site structure consisting of multiple, distinct HTML
                                pages under one domain—such as Home, About, Services, and Contact—linked together via a
                                navigation menu. It offers superior SEO opportunities, scalability for growing content,
                                and detailed, organized user experiences compared to single-page sites.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\website\web (3).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Website Multi Pages</h1>
                            <p>A multi-page website is a standard site structure consisting of multiple, distinct HTML
                                pages under one domain—such as Home, About, Services, and Contact—linked together via a
                                navigation menu. It offers superior SEO opportunities, scalability for growing content,
                                and detailed, organized user experiences compared to single-page sites.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/website\web (4).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Website Multi Pages</h1>
                            <p>A multi-page website is a standard site structure consisting of multiple, distinct HTML
                                pages under one domain—such as Home, About, Services, and Contact—linked together via a
                                navigation menu. It offers superior SEO opportunities, scalability for growing content,
                                and detailed, organized user experiences compared to single-page sites.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\website\web (5).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Website Multi Pages</h1>
                            <p>A multi-page website is a standard site structure consisting of multiple, distinct HTML
                                pages under one domain—such as Home, About, Services, and Contact—linked together via a
                                navigation menu. It offers superior SEO opportunities, scalability for growing content,
                                and detailed, organized user experiences compared to single-page sites.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/website\web (6).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Website Multi Pages</h1>
                            <p>A multi-page website is a standard site structure consisting of multiple, distinct HTML
                                pages under one domain—such as Home, About, Services, and Contact—linked together via a
                                navigation menu. It offers superior SEO opportunities, scalability for growing content,
                                and detailed, organized user experiences compared to single-page sites.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-content my-5" id="tab_full_stack_app">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\full\full (1).jpg" alt="">
                        <div class="text-project">
                            <h1>Desgin Full Stack App</h1>
                            <p>A full stack application is a complete software system that encompasses both the
                                user-facing interface (front end) and the behind-the-scenes logic, servers, and
                                databases (back end). A full stack developer is skilled in all the technologies required
                                to build and manage the application from end-to-end.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\full\full (1).png" alt="">
                        <div class="text-project">
                            <h1>Desgin Full Stack App</h1>
                            <p>A full stack application is a complete software system that encompasses both the
                                user-facing interface (front end) and the behind-the-scenes logic, servers, and
                                databases (back end). A full stack developer is skilled in all the technologies required
                                to build and manage the application from end-to-end.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\full\full (1).webp" alt="">
                        <div class="text-project">
                            <h1>Desgin Full Stack App</h1>
                            <p>A full stack application is a complete software system that encompasses both the
                                user-facing interface (front end) and the behind-the-scenes logic, servers, and
                                databases (back end). A full stack developer is skilled in all the technologies required
                                to build and manage the application from end-to-end.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\full\full (3).jpg" alt="">
                        <div class="text-project">
                            <h1>Desgin Full Stack App</h1>
                            <p>A full stack application is a complete software system that encompasses both the
                                user-facing interface (front end) and the behind-the-scenes logic, servers, and
                                databases (back end). A full stack developer is skilled in all the technologies required
                                to build and manage the application from end-to-end.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/full\full (3).png" alt="">
                        <div class="text-project">
                            <h1>Desgin Full Stack App</h1>
                            <p>A full stack application is a complete software system that encompasses both the
                                user-facing interface (front end) and the behind-the-scenes logic, servers, and
                                databases (back end). A full stack developer is skilled in all the technologies required
                                to build and manage the application from end-to-end.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/full\full (4).jpg" alt="">
                        <div class="text-project">
                            <h1>Desgin Full Stack App</h1>
                            <p>A full stack application is a complete software system that encompasses both the
                                user-facing interface (front end) and the behind-the-scenes logic, servers, and
                                databases (back end). A full stack developer is skilled in all the technologies required
                                to build and manage the application from end-to-end.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-content my-5" id="tab_ecommerce_app">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\ecom\ecom (1).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Ecommerce App</h1>
                            <p>An e-commerce app is a mobile application allowing users to browse, select, and purchase
                                products or services directly from their smartphones. It streamlines shopping through
                                secure, integrated payment systems, product catalogs, shopping carts, and order
                                tracking. Key goals include improving user experience and increasing sales.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\ecom\ecom (2).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Ecommerce App</h1>
                            <p>An e-commerce app is a mobile application allowing users to browse, select, and purchase
                                products or services directly from their smartphones. It streamlines shopping through
                                secure, integrated payment systems, product catalogs, shopping carts, and order
                                tracking. Key goals include improving user experience and increasing sales.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\ecom\ecom (3).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Ecommerce App</h1>
                            <p>An e-commerce app is a mobile application allowing users to browse, select, and purchase
                                products or services directly from their smartphones. It streamlines shopping through
                                secure, integrated payment systems, product catalogs, shopping carts, and order
                                tracking. Key goals include improving user experience and increasing sales.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\ecom\ecom (4).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Ecommerce App</h1>
                            <p>An e-commerce app is a mobile application allowing users to browse, select, and purchase
                                products or services directly from their smartphones. It streamlines shopping through
                                secure, integrated payment systems, product catalogs, shopping carts, and order
                                tracking. Key goals include improving user experience and increasing sales.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\ecom\ecom (5).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Ecommerce App</h1>
                            <p>An e-commerce app is a mobile application allowing users to browse, select, and purchase
                                products or services directly from their smartphones. It streamlines shopping through
                                secure, integrated payment systems, product catalogs, shopping carts, and order
                                tracking. Key goals include improving user experience and increasing sales.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\ecom\ecom (6).jpg" alt="">
                        <div class="text-project">
                            <h1>Design Ecommerce App</h1>
                            <p>An e-commerce app is a mobile application allowing users to browse, select, and purchase
                                products or services directly from their smartphones. It streamlines shopping through
                                secure, integrated payment systems, product catalogs, shopping carts, and order
                                tracking. Key goals include improving user experience and increasing sales.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <p>Copy Right All Right Are Reserved Develop By <a href="" style="color: white;">Mr.Canan</a> 2026.</p>
    </footer>
    <script>
        let tab_1 = document.getElementById("tab_landing_page");
        let tab_2 = document.getElementById("tab_websites");
        let tab_3 = document.getElementById("tab_full_stack_app");
        let tab_4 = document.getElementById("tab_ecommerce_app");



        document.querySelector(".tab_all").addEventListener("click", () => {
            tab_1.style.display = 'grid';
            window.location.href = '#tab_landing_page'
            tab_2.style.display = 'grid';
            tab_3.style.display = 'grid';
            tab_4.style.display = 'grid';
        })

        document.querySelector(".tab_one").addEventListener("click", () => {
            tab_1.style.display = 'grid';
            window.location.href = '#tab_landing_page'
            tab_2.style.display = 'none';
            tab_3.style.display = 'none';
            tab_4.style.display = 'none';
        })
        document.querySelector(".tab_two").addEventListener("click", () => {
            tab_1.style.display = 'none';
            window.location.href = '#tab_websites'
            tab_2.style.display = 'grid';
            tab_3.style.display = 'none';
            tab_4.style.display = 'none';
        })
        document.querySelector(".tab_thr").addEventListener("click", () => {
            tab_3.style.display = 'grid';
            window.location.href = '#tab_full_stack_app';
            tab_2.style.display = 'none';
            tab_4.style.display = 'none';
            tab_1.style.display = 'none';
        })

        document.querySelector(".tab_for").addEventListener("click", () => {
            tab_4.style.display = 'grid';
            window.location.href = '#tab_ecommerce_app';
            tab_3.style.display = 'none';
            tab_2.style.display = 'none';
            tab_1.style.display = 'none';
        });

    </script>
    <script src="/static/js/script.js"></script>

</body>

</html>