<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="../static/css/stle.css">
    <link rel="shortcut icon" href="./images/aboutme3.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
             <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/project">Project</a></li>
                <li><a href="/reviews">Reviews</a></li>
        </ul>
    </nav>
    <section class="reviews-sec containers my-5">
        <div class="reviews-group">
            <div class="review-box">
                <p class="text-center">Testimonials</p>
           
                <h1 class="h1 text-center py-0">Cliend FeedBack</h1>
                <div class="cliend-content">
                    <div class="cliend-fb active">
                        <div class="profile cliend-img">
                            <img src="static\images\canan.jpeg" alt="" height="100px" width="100px">
                            <p class="u-name">Canan Dev</p>
                            <div class="fiv-icon">
                                <p class="fiv-pad">Fiveer</p>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <!-- <div> -->
                        <p class="clind-desc text-center">Yes I really like to you Your Projects.An e-commerce app is a mobile application allowing users to browse, select, and purchase products or services directly from their smartphones. It streamlines shopping through secure, integrated payment systems, product catalogs, shopping carts, and order tracking. Key goals include improving user experience and increasing sales.It streamlines shopping through secure, integrated payment systems, product catalogs, shopping carts, and order tracking. Key goals include improving user experience and increasing sales.</p>
                        <!-- </div> -->

                    </div>
                    <div class="cliend-fb">
                        <div class="profile cliend-img">
                            <!-- <div class="cliend-img"> -->
                            <img src="static\images\canan.jpeg" alt="" height="100px" width="100px">
                            <!-- </div> -->
                            <p class="u-name">Mr. Jack</p>
                            <div class="fiv-icon">
                                <p class="fiv-pad">Fiveer</p>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <!-- <div> -->
                        <p class="clind-desc text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
                            odio debitis et? Sit ipsum ipsa aliquid dolorem ullam rerum quia. Et obcaecati cupiditate
                            natus ea? Eaque, mollitia? Odit maiores maxime minima, optio quia illo dignissimos
                            voluptatum quis dolorum quisquam corrupti architecto, facere quo beatae asperiores! Maxime,
                            reiciendis nobis! Eligendi laborum, quam ratione aliquid aut deserunt iusto aspernatur amet
                            earum vero architecto. Accusamus adipisci voluptatibus ullam a magnam expedita rerum
                            doloribus impedit molestias assumenda? Distinctio quam libero est accusamus cum aut.</p>
                        <!-- </div> -->

                    </div>
                    <div class="cliend-fb">
                        <div class="profile cliend-img">
                            <img src="static\images\canan.jpeg" alt="" height="100px" width="100px">
                           
                            <p class="u-name">Mr. Mickel</p>
                            <div class="fiv-icon">
                                <p class="fiv-pad">Fiveer</p>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <!-- <div> -->
                        <p class="clind-desc text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
                            odio debitis et? Sit ipsum ipsa aliquid dolorem ullam rerum quia. Et obcaecati cupiditate
                            natus ea? Eaque, mollitia? Odit maiores maxime minima, optio quia illo dignissimos
                            voluptatum quis dolorum quisquam corrupti architecto, facere quo beatae asperiores! Maxime,
                            reiciendis nobis! Eligendi laborum, quam ratione aliquid aut deserunt iusto aspernatur amet
                            earum vero architecto. Accusamus adipisci voluptatibus ullam a magnam expedita rerum
                            doloribus impedit molestias assumenda? Distinctio quam libero est accusamus cum aut.</p>
                        <!-- </div> -->

                    </div>
                    <div class="cliend-fb">
                        <div class="profile cliend-img">
                            <img src="static\images\canan.jpeg" alt="" height="100px" width="100px">
                         
                            <p class="u-name">Mr. Mark</p>
                            <div class="fiv-icon">
                                <p class="fiv-pad">Fiveer</p>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <!-- <div> -->
                        <p class="clind-desc text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
                            odio debitis et? Sit ipsum ipsa aliquid dolorem ullam rerum quia. Et obcaecati cupiditate
                            natus ea? Eaque, mollitia? Odit maiores maxime minima, optio quia illo dignissimos
                            voluptatum quis dolorum quisquam corrupti architecto, facere quo beatae asperiores! Maxime,
                            reiciendis nobis! Eligendi laborum, quam ratione aliquid aut deserunt iusto aspernatur amet
                            earum vero architecto. Accusamus adipisci voluptatibus ullam a magnam expedita rerum
                            doloribus impedit molestias assumenda? Distinctio quam libero est accusamus cum aut.</p>
                        <!-- </div> -->

                    </div>
                    <div class="btn-slider-cliendfb">
                        <button class="btn-clind-fd active"></button>
                        <button class="btn-clind-fd"></button>
                        <button class="btn-clind-fd"></button>
                        <button class="btn-clind-fd"></button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <p>Copy Right All Right Are Reserved Develop By <a href="" style="color: white;">Mr.Canan</a> 2026.</p>
    </footer>

    <script>
        let btn_slides = document.querySelectorAll(".btn-clind-fd");
        let slides = document.querySelectorAll('.cliend-fb');
        const manualSlider = (i) => {

            slides.forEach(val => {
                val.classList.remove("active")
            })
            btn_slides.forEach(val => {
                val.classList.remove("active")
            })
            slides[i].classList.add("active");
            btn_slides[i].classList.add("active");
        };
        btn_slides.forEach((val, ind)=>{
            val.addEventListener("click", ()=>{
                manualSlider(ind);
            })
        })
        let counter = 0
        const repeater =  ()=>{
            setTimeout(()=>{
                counter++;
                if(counter >= slides.length){
                    counter = 0
                }
                manualSlider(counter);
                repeater();
                },4000);
        } 
        repeater();
    </script>
    <script src="/static/js/script.js"></script>


</body>

</html>