<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
        <link rel="stylesheet" href="/static/css/stle.css">
    <link rel="shortcut icon" href="/static/images/data_ana.jpg" type="image/x-icon">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/project">Project</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
    </nav>
    <section>
        <div class="service-box">
            <h1 class="text-center">Servies US</h1>
            <div class="servces containers">
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/web_develop.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Web Development</h1>
                        <p>Web development is the comprehensive process of creating, building, and maintaining websites
                            and web applications for the internet or intranets. It combines technical coding (HTML, CSS,
                            JavaScript) with functional design to ensure optimal performance, interactivity, and user
                            experience. Developers work on front-end (user-facing), back-end (server-side), or
                            full-stack, managing everything from layout to databases.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/app_dev.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>App Development</h1>
                        <p>App development is the multi-stage process of creating software applications for mobile
                            (iOS/Android), desktop, or web platforms, designed to fulfill specific user needs or
                            business functions. It involves a lifecycle of planning, designing, coding
                            (frontend/backend), testing, and deployment, often utilizing Agile methodologies to iterate
                            based on feedback. </p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/seo.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Search Engine Optimize</h1>
                        <p>An SEO Specialist improves a website's search engine rankings, visibility, and organic
                            traffic by developing strategies, conducting keyword research, optimizing on-page content
                            (meta tags, headings), and executing technical improvements. They analyze performance data
                            using tools like Google Analytics, collaborate with developers, and build backlinks to
                            increase domain authority and user engagement.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/digital_m.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Digital Marketing</h1>
                        <p>Digital marketing is the promotion of brands, products, or services using internet-connected
                            devices, search engines, social media, and email. It enables precise, data-driven targeting
                            of specific audiences in real-time to increase brand awareness, engagement, and conversions.
                            Key channels include SEO, PPC, content, and social media.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/data_ana.jpg" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Data Analysis</h1>
                        <p>A Data Analyst collects, cleans, and interprets complex datasets to identify trends,
                            patterns, and insights that drive informed business decisions. They use SQL, Python/R, and
                            visualization tools (Tableau/Power BI) to create reports and dashboards, transforming raw
                            data into actionable recommendations for stakeholders.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/data_clean.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Data Cleaning</h1>
                        <p>Data cleaning is the process of identifying and correcting, removing, or modifying
                            inaccurate, incomplete, improperly formatted, or duplicate data within a dataset to improve
                            its quality, consistency, and accuracy. It ensures that data is reliable and prepared for
                            analysis or AI modeling by handling missing values, fixing structural errors, and filtering
                            outliers.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/algo.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Data Enrtry</h1>
                        <p>A Data Entry Operator inputs, updates, and maintains information in digital databases or
                            spreadsheets, ensuring high accuracy and confidentiality. They transform raw data (paper or
                            digital) into structured formats, using office software like MS Excel, while identifying
                            errors and organizing files for easy access.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/bus-g.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Business Growth</h1>
                        <p>Business growth is the strategic, measurable expansion of a company's revenue, market share,
                            and customer base. It signifies a thriving enterprise, marked by increased profitability,
                            improved efficiency, and market penetration, moving beyond initial startup stages into
                            maturity. Growth is driven by strategies like product innovation, market expansion, and
                            enhanced marketing.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/logo_des.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Logo Desgin</h1>
                        <p>Logo design is the strategic, creative process of crafting a unique visual symbol—combining
                            typography, imagery, and color—to represent a brand's identity, values, and mission. It
                            creates a memorable, versatile, and instantly recognizable brand face used across all
                            marketing materials to build trust and differentiate from competitors.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/logo_des.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Content Writer</h1>
                        <p>A Content Writer transforms ordinary information into compelling, insightful, and persuasive
                            written content for intended audiences. Readers and consumers can learn more about a company
                            and its products/services through their words. Their writing often also serves as
                            entertainment for specific audiences.</p>
                    </div>
                </div>
            </div>
            <div class="btn-sliders">
                <button id="btn-slide-right"><i class="fas fa-chevron-left"></i></button>
                <button id="btn-slide-left"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </section>
    <section class="process-sec my-5">
        <h1 class="text-center">Services Process</h1>
        <div class="services-process containers">
            <div class="ser-proces">
                <h3>01</h3>
                <h2>Project Take</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo
                    repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem?
                    Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>02</h3>
                <h2>Project Analysis</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo
                    repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem?
                    Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>03</h3>
                <h2>Project Enviroment</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo
                    repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem?
                    Labore, quaerat!</p>
            </div>
        </div>
        <div class="services-process containers">
            <div class="ser-proces">
                <h3>04</h3>
                <h2>Project Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo
                    repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem?
                    Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>05</h3>
                <h2>Project Production</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo
                    repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem?
                    Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>06</h3>
                <h2>Cliend to Deliver</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo
                    repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem?
                    Labore, quaerat!</p>
            </div>
        </div>

    </section>
    <footer>
        <p>Copy Right All Right Are Reserved Develop By <a href="" style="color: white;">Mr.Canan</a> 2026.</p>
    </footer>


    <script>
        let services = document.querySelectorAll(".service");
        let btnRight = document.getElementById("btn-slide-left");
        let btnLeft = document.getElementById("btn-slide-right");

        let count = 0;
        btnLeft.addEventListener("click", () => {
            if (count > 0) {
                count--;
            }
            services.forEach(val => {
                val.style.transform = `translateX(${count * -100}%)`;
            });

        })
        btnRight.addEventListener("click", (e) => {

            if (count < services.length - 3) {
                count++;
            } else {
                count = 0;
            } services.forEach(val => {
                val.style.transform = `translateX(${count * -105}%)`;
            })
        });
    </script>
    <script src="/static/js/script.js"></script>

</body>

</html>